@page "/"

    <div class="container-fluid d-flex flex-column h-100" >
        <div class="row justify-content-center h-100">
            <div class="col-lg-4 col-md-8 col-sm-12 d-flex align-items-center justify-content-center">
                <p>
                    <b>Word Counter Test</b>
                    <br>
                    Miguel Chacon.
                    <br>
                    Aplicacion que recibe un texto por teclado o carga un archivo .txt 
                    y genera el conteo de las palabras del mismo.
                </p>
            </div>
        </div>
    </div>
